{% extends "hrw/base.html" %}

{% block title %}ATR Details{% endblock %}
{% block content %}
<h2>Update New Starter</h2>
    <form method="POST">{% csrf_token %}
        <table class="table">
            <tr>
        {{ form.as_table }}
            </tr>
        </table>
        <button type="submit" value="Update">Update</button>
    </form>
{% endblock %}

