{% extends "hrw/base.html" %}

{% block title %}ATR Details{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p><h3>ATR Approval Details</h3></p>
           <div class="row details border bg-primary text-white">
                <div class="col"><p><strong>Date of Request:</strong> {{ atr.date_request }} </br> <strong>Reference:</strong> {{ atr.reference }} </br> <strong>Status: </strong> {{ atr.status }}</p></div>
                <div class="col"><p><strong>Author:</strong> {{ atr.author }} </br> <strong>Line Manager:</strong> {{ atr.line_manager }} </br> <strong>HR Manager:</strong> {{ atr.hr_manager }} </br> <strong>Ops Director:</strong> {{ atr.op_director }} </br> <strong>Board Member:</strong> {{ atr.board_member }}</p></div>
            </div>
            <div class="row details border">
                <div class="col"><p><strong>Division:</strong> {{ atr.division }} </br> <strong>Location:</strong> {{ atr.location }} </br> <strong>Job title:</strong> {{ atr.job_title }}</p></div>
                <div class="col"><p><strong>Salary:</strong> {{ atr.salary }} </br> <strong>Pay Period:</strong> {{ atr.pay_period }} </br><strong>Contracted Hours:</strong> {{ atr.contracted_hours }}</p></div>
            </div>
            <div class="row details border">
                <div class="col"><p><strong>Nature of Application:</strong> </br>{{ atr.nature_app }} </p></div>
                <div class="col"><p><strong>Justification:</strong> </br>{{ atr.justification }} </p></div>
            </div>
            <div class="row details border">
                <div class="col"><p><strong>Benefits:</strong> {{ atr.benefit_choice }} </br><strong> Benefit Details:</strong> {{ atr.benefit_details }} </p> </div>
                <div class="col"><p><strong>Budgeted:</strong> {{ atr.budget }} </br><strong> New Starter?:</strong> {{ atr.replacement_or_addition }} </br><strong> Outgoing Employee:</strong> {{ atr.out_emp_title }} </br>
                    <strong>Outgoing Salary:</strong> {{ atr.out_emp_salary }} </br><strong> Advertising Method:</strong> {{ atr.advertising }}</p></div>
            </div>
    </div>
<div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'atr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New ATR</button></a>
                <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                <a class="sidebar" role="Button" aria-pressed="True" href="{% url 'atrdoc' pk=atr.id %}"><button type="button" role="button" class="btn btn-outline-primary">Documents</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'atrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}
                    <a class="sidebar" role="Button" aria-pressed="True" href="{% url 'approvalsys' pk=atr.id %}"><button type="button" role="button" class="btn btn-primary">Approve</button></a>
                    <a class="sidebar" role="Button" aria-pressed="True" href="{% url 'rejectsys' pk=atr.id %}"><button type="button" role="button" class="btn btn-danger">Reject</button></a>
        </div>
    </div>
    </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
{% endblock %}