{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
    <div class="row">
{% if user.is_authenticated %}
    <div class="col-md-10">
    <h2>Profile for {{ user.first_name }}</h2>
        {% if atr_list %}
            <p>These settings apply to all the ATR's you create. They are set by IT and controlled centrally.
                <ul><strong>Team Name:</strong> {{ atr_list.team_name }}</ul>
                <ul>Line Manager: {{ atr_list.line_manager }}</ul>
                <ul>HR Manager: {{ atr_list.hr_manager }}</ul>
                <ul>Operations Director: {{ atr_list.op_director }}</ul>
                <ul>Board Member: {{ atr_list.board_member1 }}</ul>
            </p>
         {% endif %}
    </div>
        <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'atr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New ATR</button></a>
                <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'atrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
    </div>
    </div>
{% endblock %}