{% extends "hrw/base.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>New ATR Comment</h2>
                        <form method="POST">{% csrf_token %}
                            <table class="table">
                                <tr>
                                    {{ form.as_table }}
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary btn-sm active" role="Button" aria-pressed="True">Save</button>
                        </form>
                </div>
            </div>
        </div>
{% endblock %}

