{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
{% if user.is_authenticated %}
    <div>
    <p><h3>No Requests found</h3></p>
    </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
    </div>
{% endblock %}