{% extends "hrw/base.html" %}

{% block title %}ATR Details{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>New ATR Request</h2>
                    <form method="POST">{% csrf_token %}
                        <table class="table">
                         <table class="table">
                            <tr>
                        {{ form.as_table }}
                            </tr>
                        </table>
                        </table>
                        <button type="submit" class="btn btn-primary">Save</button>

            </div>
            <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

