<!doctype html>
<html lang="en">
  <head>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'hrw/style.css' %}">
      <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>HR Workflow Application</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'hrw/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'hrw/css/sticky-footer-navbar.css'%}" rel="stylesheet">
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">HR Workflows</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          {% if user.is_authenticated %}
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/atr" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Authority to Recruit</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/atr">ATR Home</a>
              <a class="dropdown-item" href="/atr/new">New ATR Request</a>
              <a class="dropdown-item" href="/atr/request">My Requests</a>
              <a class="dropdown-item" href="/atr/approve">My Approvals</a>
                <a class="dropdown-item" href="/atr/profile">My Profile</a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                    <a class="dropdown-item" href="/atr/hr">HR View</a>
                    {% endif %}
                        {% endfor %}
            </div>
          </li>
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled" href="/ns" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New Starter</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/ns">New Starter Home</a>
              <a class="dropdown-item" href="/ns/new">New Starter Request</a>
              <a class="dropdown-item" href="/ns/request">My Requests</a>
              <a class="dropdown-item" href="/ns/approve">My Approvals</a>
            </div>
          </li>
               <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled" href="/lvr" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leavers</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/lvr/">Leaver Home</a>
              <a class="dropdown-item" href="/lvr/new">New Leaver Request</a>
              <a class="dropdown-item" href="/lvr/request">My Requests</a>
              <a class="dropdown-item" href="/lvr/approve">My Approvals</a>
            </div>
          </li>
               <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled" href="/chg" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Changes</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/chg/">Changes Home</a>
              <a class="dropdown-item" href="/chg/new">New Change Request</a>
              <a class="dropdown-item" href="/chg/request">My Requests</a>
              <a class="dropdown-item" href="/lvr/approve">My Approvals</a>
            </div>
          </li>
            {% endif %}
              {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}?next="{% url 'index' %}/">Logout</a>
                {% else %}
                <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5"></h1>
    <div padding="3px">
    </br>
      <p>{% block content %} {% endblock %}</p>
    </div>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Synergy LMS 2019 - V1.1</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"><\/script>')</script>
    <script src="{% static 'hrw/js/popper.min.js' %}"></script>
    <script src="{% static 'hrw/js/bootstrap.js' %}"></script>
  </body>
</html>

