{% extends "hrw/base.html" %}
{% block content %}
    {% if com_list %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Comment Created</th>
                        <th>Comment</th>
                        <th>Comment Author</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in com_list %}
                    <tr>
                        <td>{{ item.comment_created }}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ item.comment_author  }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            </div>
        <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'atr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New ATR</button></a>
                <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'atrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>No Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No comments found for request</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'atr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New ATR</button></a>
                <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'atrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}