{% extends "hrw/base.html" %}

{% block title %}ATR Document Details{% endblock %}
{% block content %}

    {% if doc %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Description</th>
                            <th>Document</th>
                            <th>ATR</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                            <td>{{ doc.description }}</td>
                            <td>{{ doc.document }}</td>
                            <td>{{ doc.documentlink }}</td>
                            <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'atrdownload' pk=doc.id %}" download>Download</a></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'atr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New ATR</button></a>
                    <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'atrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Attachments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No attachments found for this request</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'atrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'atr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New ATR</button></a>
                <a class="sidebar" href="{% url 'atrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'atrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'atrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}