{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row"></div>
        <div class="col-md-10">
            <p><h3>Welcome {{ user.first_name }} to the HR Workflow Application</h3></p>
        <p>
            Please select the menu items at the top of the site to submit the appropriate HR form. Any problems please read the help
            or speak with your HR Manager.
        </p>
    </div>
        {% else %}
        <p>Access Denied</p>
        <a href="{% url 'accounts' %}">Login</a></br>
    {% endif %}
    </div>
    </div>
{% endblock %}