{% extends "hrw/base.html" %}

{% block content %}
    <div class="container">
      <div class="row"></div>
        <div class="col-md-10">
            <p>Logged out!</p>
                <a href="{% url 'login'%}">Click here to login again.</a>
        </div>
    </div>
{% endblock %}