{% extends "hrw/base.html" %}

{% block title %}Comments{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
<h2>New Starter Comment</h2>
    <form method="POST">{% csrf_token %}
        <table class="table">
         <table class="table">
            <tr>
        {{ form.as_table }}
            </tr>
        </table>
        </table>
        <button type="submit" class="btn btn-primary btn-sm active" role="Button" aria-pressed="True">Save</button>
    </form>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
{% endblock %}

