{% extends "hrw/base.html" %}

{% block title %}New Starter Details{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="row">
    <div class="col-md-10">
        <p><h3>New Starter Request Details</h3></p>
        <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Date of Request</th>
                    <th>Reference</th>
                    <th>Status</th>
                    <th>Job title</th>
                    {% if ns.status_id == 1 or ns.status_id == 6  %}
                    <th>Send for Approval</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ns.date_request }}</td>
                    <td>{{ ns.reference }}</td>
                    <td>{{ ns.status }}</td>
                    <td>{{  ns.job_title }}</td>
                    {% if ns.status_id == 1 or ns.status_id == 6  %}
                            <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'nssendapprove' pk=ns.id %}">Send</a></td>
                        {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Author</th>
            <th>Divison</th>
            <th>Location</th>
            <th>Job Title</th>
            <th>Nature of Application</th>
            <th>Salary</th>
            <th>Pay Period</th>
            <th>Benefits</th>
        </tr>
        </thead>

            <tbody>
        <tr>
            <td> {{ ns.author }} </td>
            <td> {{ ns.division }} </td>
            <td> {{ ns.location }} </td>
            <td> {{ ns.job_title }} </td>
            <td> {{ ns.nature_app }} </td>
            <td> {{ ns.salary }} </td>
            <td> {{ ns.pay_period }} </td>
            <td> {{ ns.benefits }} </td>
        </tr>
              </tbody>
        </table>
    </div>
    <br>
    <div class="row">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>In Budget</th>
            <th>Outgoing Employee Title</th>
            <th>Outgoing Employee Salary</th>
            <th>Justification</th>
            <th>Advertising Method</th>
            <th>Line Manager</th>
            <th>HR Manager</th>
            <th>Board Member</th>
        </tr>
        <tbody>
        <tr>
            <td> {{ ns.budget }} </td>
            <td> {{ ns.out_emp_title }} </td>
            <td> {{ ns.out_emp_salary }} </td>
            <td> {{ ns.justification }} </td>
            <td> {{ ns.advertising }} </td>
            <td> {{ ns.line_manager }} </td>
            <td> {{ ns.hr_manager }} </td>
            <td> {{ ns.board_member }} </td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>
        <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'nshome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'ns_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Starter</button></a>
                <a class="sidebar" href="{% url 'nsrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'nsapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                <a class="sidebar" href="{% url 'nscomment' pk=ns.id %}"><button type="button" role="button" class="btn btn-outline-primary">Comments</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'nshrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
{% endblock %}