{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-10">
                <h2>New Starters</h2>
                    <p>This application is used to inform other departments that a new starter will be joining the company. It will ensure
                        the contract and systems are set up before the new employee starts.</p>
            </div>
        <div class="col-md-2">
            <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                <a class="sidebar" href="{% url 'nshome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                <a class="sidebar" href="{% url 'ns_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Starter</button></a>
                <a class="sidebar" href="{% url 'nsrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                <a class="sidebar" href="{% url 'nsapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                {% for group in user.groups.all %}
                    {% if group.name == 'HR'  %}
                        <a class="sidebar" href="{% url 'nshrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
{% endblock %}