{% extends "hrw/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <p><h3>Document Upload</h3></p>
                <p>Please upload supporting job description.
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

