{% extends "hrw/base.html" %}
{% block content %}
{% if com_list %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Comment</th>
                        <th>Comment Author</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for item in com_list %}
                        <tr>
                            <td>{{ item.comment }}</td>
                            <td>{{ item.comment_author  }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'lvrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'lvr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Leaver</button></a>
                    <a class="sidebar" href="{% url 'lvrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'lvrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'lvrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
</div>
</div>
    {% else %}
    <div class="container">
        <div class="row">
        <div class="col-md-10">
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th>Comments</th>
                </tr>
    </thead>
    <tbody>
        <tr>
            <td>No comments found for this record</td>
        </tr>
    </tbody>
</table>
    </div>
        <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'lvrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'lvr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Leaver</button></a>
                    <a class="sidebar" href="{% url 'lvrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'lvrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'lvrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>
    </div>
    {% endif %}
{% endblock %}