{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
            <p><h3>My Approval Requests</h3></p>
    {% if lvr_list %}
        <table class="table">
            <thead class="thead-light">

                <tr>
                    <th>Date of Request</th>
                    <th>Reference</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>HR Manager</th>
                    <th>Details</th>
                    <th>Approve</th>

                </tr>
            </thead>

            <tbody>

                <tr>{% for item in lvr_list %}</tr>
                    <td>{{ item.date_request }}</td>
                    <td>{{ item.reference }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.hr_manager }}</td>
                    <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{{ item.id }}">Details</a></td>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            {% if item.status_id == 3 %}
                        <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'lvrhrapprove' pk=item.id %}">HR Approve</a></td>
                        {% endif %}
                        {% endif %}
                        {% if group.name == 'Normal' %}
                        {% if item.status_id == 1 or item.status_id == 7 %}
                        <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'lvrsendapprove' pk=item.id %}">Send</a></td>
                        {% endif %}
                        {% endif %}
                        {% if group.name == 'Management'  %}
                            {% if item.status_id == 2 %}
                        <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'lvrhrapproval' pk=item.id %}">Approve</a></td>
                        {% endif %}
                        {% endif %}
                        {% if group.name == 'Payroll' %}
                            {% if item.status_id == 4 %}
                            <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'lvrprapprove' pk=item.id %}">Payroll Approve</a></td>
                        {% endif %}
                        {% endif %}
                        {% if group.name == 'IT' %}
                            {% if item.status_id == 5 %}
                            <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'lvritapprove' pk=item.id %}">IT Approve</a></td>
                        {% endif %}
                        {% endif %}
                {% endfor %}
             {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="color: red"><strong>No requests found</strong></p>
        {% endif %}
        </div>


        <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'lvrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'lvr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Leaver</button></a>
                    <a class="sidebar" href="{% url 'lvrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'lvrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'lvrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <p>Access Denied</p>
        <a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
    </div>
{% endblock %}