{% extends "hrw/base.html" %}

{% block title %}New Starter Details{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p><h3>Leaver Request Details</h3></p>
                <div class="row">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Date of Request</th>
                                <th>Reference</th>
                                <th>Status</th>
                                <th>Job title</th>
                                {% if lvr.status_id == 1 or lvr.status_id == 7  %}
                                <th>Send for Approval</th>
                                    {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ lvr.date_request }}</td>
                                <td>{{ lvr.reference }}</td>
                                <td>{{ lvr.status }}</td>
                                <td>{{  lvr.job_title }}</td>
                                {% if lvr.status_id == 1 or lvr.status_id == 7  %}
                                        <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url 'lvrsendapprove' pk=lvr.id %}">Send</a></td>
                                    {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>Author</th>
                        <th>Divison</th>
                        <th>Location</th>
                        <th>Job Title</th>
                        <th>Nature of Application</th>
                        <th>Salary</th>
                        <th>Pay Period</th>
                        <th>Benefits</th>
                    </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <td> {{ lvr.author }} </td>
                                <td> {{ lvr.division }} </td>
                                <td> {{ lvr.location }} </td>
                                <td> {{ lvr.job_title }} </td>
                                <td> {{ lvr.nature_app }} </td>
                                <td> {{ lvr.salary }} </td>
                                <td> {{ lvr.pay_period }} </td>
                                <td> {{ lvr.benefits }} </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>In Budget</th>
                            <th>Outgoing Employee Title</th>
                            <th>Outgoing Employee Salary</th>
                            <th>Justification</th>
                            <th>Advertising Method</th>
                            <th>Line Manager</th>
                            <th>HR Manager</th>
                            <th>Board Member</th>
                        </tr>
                    <tbody>
                        <tr>
                            <td> {{ lvr.budget }} </td>
                            <td> {{ lvr.out_emp_title }} </td>
                            <td> {{ lvr.out_emp_salary }} </td>
                            <td> {{ lvr.justification }} </td>
                            <td> {{ lvr.advertising }} </td>
                            <td> {{ lvr.line_manager }} </td>
                            <td> {{ lvr.hr_manager }} </td>
                            <td> {{ lvr.board_member }} </td>
                        </tr>
                    </tbody>
                </table>
                </div>
    </div>
    <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'lvrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'lvr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Leaver</button></a>
                    <a class="sidebar" href="{% url 'lvrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'lvrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    <a class="sidebar" href="{% url 'lvrcomments' pk=lvr.id %}"><button type="button" role="button" class="btn btn-outline-primary">Comments</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'lvrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
{% endblock %}