{% extends "hrw/base.html" %}

{% block title %}Comments{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                <h2>Leaver Comment</h2>
                    <form method="POST">{% csrf_token %}
                        <table class="table">
                         <table class="table">
                            <tr>
                        {{ form.as_table }}
                            </tr>
                        </table>
                        </table>
                        <button type="submit" class="btn btn-primary btn-sm active" role="Button" aria-pressed="True">Save</button>
                    </form>
                </div>
        <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'lvrhome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'lvr_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Leaver</button></a>
                    <a class="sidebar" href="{% url 'lvrrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'lvrapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'lvrhrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
                </div>
        </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
{% endblock %}

