{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
   <div class="container">
    {% if user.is_authenticated %}
        <div class="row">
        <div class="col-md-10">
        <p><h3>My Requests</h3></p>
        {% if chg_list %}
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Date of Request</th>
                        <th>Reference</th>
                        <th>Status</th>
                        <th>Author</th>
                        <th>HR Manager</th>
                        <th>Edit</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>{% for item in chg_list %}</tr>
                        <td>{{ item.date_request }}</td>
                        <td>{{ item.reference }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.author }}</td>
                        <td>{{ item.hr_manager }}</td>
                        {% if item.status_id == 1 or item.status_id == 7 %}
                            <td><a href="/lvr/update/{{ item.id }}" class="btn btn-primary btn-sm active" role="Button" aria-pressed="True">Edit</a></td>
                        {% else %}
                            <td>NA</td>
                        {% endif %}
                        <td><a href="{{ item.id }}" class="btn btn-primary btn-sm active" role="Button" aria-pressed="True">Details</a></td>
                {% endfor %}
                </tbody>
            </table>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="btn btn-primary btn-sm disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="btn btn-primary btn-sm disabled active" role="Button"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="btn btn-primary btn-sm disabled" role="Button" aria-pressed="True" ><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    {% else %}
        <p style="color: red;"><strong>No requests found</strong></p>
    {% endif %}
    </div>
        <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'chghome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'chg_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Change</button></a>
                    <a class="sidebar" href="{% url 'chgrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'chgapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'chghrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    </div>
        </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
    </div>
{% endblock %}