{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
{% if user.is_authenticated %}
    <div class="row">
    <div class="col-md-10">
    <p><h3>HR Overview</h3></p>
    <div><p>Changes in the system</p></div>
    {% if chg_list %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Date of Request</th>
                <th>Reference</th>
                <th>Status</th>
                <th>Author</th>
                <th>Line Manager</th>
                <th>HR Manager</th>
                <th>Board Member</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
                <tr>{% for item in chg_list %}</tr>
                    <td>{{ item.date_request }}</td>
                    <td>{{ item.reference }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.author }}</td>
                    <td>{{ item.line_manager }}</td>
                    <td>{{ item.hr_manager }}</td>
                    <td>{{ item.board_member }}</td>
                    <td><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{{ item.id }}">Details</a></td>
             {% endfor %}
            </tbody>
    </table>
        {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
        </div>
        <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'chghome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'chg_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Change</button></a>
                    <a class="sidebar" href="{% url 'chgrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'chgapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'chghrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
{% endif %}
    {% else %}
        <p>Access Denied</p>
        <a class="btn btn-primary btn-sm active" role="Button" aria-pressed="True" href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
    </div>
{% endblock %}