{% extends "hrw/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-10">
            <h2>Changes in T&C's</h2>
            <p>This application is used to log and gain authorisation for changes in people's contracts</p>

            </div>
            <div class="col-md-2">
                <div class="btn btn-group-vertical sidebar" role="group" aria-label="Menu">
                    <a class="sidebar" href="{% url 'chghome' %}"><button type="button" role="button" class="btn btn-outline-secondary">Home</button></a>
                    <a class="sidebar" href="{% url 'chg_new' %}"><button type="button" role="button" class="btn btn-outline-secondary ">New Change</button></a>
                    <a class="sidebar" href="{% url 'chgrequest' %}"><button type="button" role="button" class="btn btn-outline-secondary ">My Requests</button></a>
                    <a class="sidebar" href="{% url 'chgapprove' %}"><button type="button" role="button" class="btn btn-outline-secondary">My Approvals</button></a>
                    {% for group in user.groups.all %}
                        {% if group.name == 'HR'  %}
                            <a class="sidebar" href="{% url 'chghrview' %}"><button type="button" role="button" class="btn btn-primary">HR View</button></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    {% else %}
        <p>Access Denied</p>
        <a href="{% url '/account/login' %}">Login</a></br>
    {% endif %}
    </div>
{% endblock %}