.sidebar {
    display: block;
    width: 100%;
    #border: none;
    #background-color: #5a6268;
    #padding: 14px 28px;
    #font-size: 16px;
    #cursor: pointer;
    #text-align: center;
}

.details {
    display: block;
    width: 100%;
    #border: none;
    #background-color: #5a6268;
    #padding: 14px 28px;
    #font-size: 16px;
    #cursor: pointer;
    #text-align: center;
}